fastapi
uvicorn
pydantic
python-dotenv
httpx
spacy
dateparser
markdownify
langchain 
langchain-community 
langchain-openai
langchain-core
langchain-text-splitters
duckduckgo-search
crewai
crewai-tools
# google-search-results