langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
langgraph
fastapi
uvicorn
pydantic
python-dotenv
httpx
spacy
dateparser
markdownify
duckduckgo-search
crewai
crewai-tools
crewai
crewai-tools
# google-search-results